*{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

html,body{
    min-width: 1200px;
    width: 100%;
    min-height: 100%; 
}

.wrapper{
    background: #fff;
    min-width: 1110px;
}

/*  global style  */
.text-content{
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.text-content-midle{
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;

    margin: 30px 0;
}

.text-middle{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.button{
    display: inline-block;
    padding: 20px 50px;

    color: #fff;
    background: #1f87e4;

    user-select: none;
    cursor: pointer;
}

.button_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time-animation{
    transition: all 1s;
}

.vertical-line{
    width: 1px;
    height: 16px;

    margin: auto 10px;

    background: #8194a4;
}


/*  header */

.header{
    display: flex;
    flex-direction: column;
    background: url("img/headerbg.png");
    height: 950px;
    min-width: 1110px;
    width: 100%;
}

.header-top{
    width: 100%;
    background: #4a657d;
}

.header-top__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    max-width: 1110px;
    height: 50px;

    margin: 0 auto;    
}

.header__container{
    height: 100%;
}

.header__container_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__container_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top__contact{
    display: flex;

    margin: 10px 0;
}

.header-top__contact-item-img{
    margin-right: 12px;
}

.header-top__text_color{
    color: #fff;
}

.header__main-nav{
    min-width: 1110px;
    width: 100%;

    background: #fff;
}

.header__main-nav-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    height: 100px;
    max-width: 1110px;
}

.heder_nav-link{
    color: #4a657d;
    margin-left: 40px;
    font-weight: 700;
}

.header__button{
    height: 100%;
    padding: 0 15px;
    cursor: pointer;
}

.header__button:hover{
    background: #1f87e4;
}
/*  intro heder  */

.arrow-skip{
    position: absolute;
    width: 60px;
    height: 60px;

    top: 70%;

    margin: auto 0;
    background: #1f87e4;
    color: #fff;
    overflow: hidden;

    cursor: pointer;
    transition: all 1s;
}

.arrow-skip.skip-left{
    left: 0;
}

.arrow-skip.skip-right{
    right: 0;
}

.arrow-skip:hover{
    width: 180px;
}

.arrow-skip::before{
    content: "";
    position: absolute; 

    width: 18px;
    height: 10px;

    top: 45%;
    
    background: url("img/SmallIcon/arrowIcon.png");
}

.arrow-skip.skip-left::before{
    rotate: 180deg;
    left: 20px;
}

.arrow-skip.skip-right::before{
    rotate: 0deg;
    right: 20px;
}

.arrow-skip::after{
    content: "Next slider";
    position: absolute;
    width: 100px;
    height: 10px;

    top: 40%;

    background: #1f87e4;
}

.arrow-skip.skip-left::after{
    left: 60px;
}

.arrow-skip.skip-right::after{
    right: 60px;
}

.header__intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1110px;
    height: 100%;
    
    color:  #4a657d;
}

.header__intro-title{
    font-size: 50px;
}

.header__intro-text{
    font-size: 14px;
    font-weight: 700;
    margin: 30px 0;
}

.button-intro{
    display: inline-block;
    padding: 20px 50px;
    margin: 10px auto;
    font-weight: 700;
    cursor: pointer;

    color: #fff;
    background: #1f87e4;

    user-select: none;
}

/*  container  */

.container-middle{
    width: 100%;
    height: 760px;

    color:  #4a657d;
}

.container-content{
    width: 350px;
    height: 400px; 

    /*delete bottom*/
    background: #edeff2;
}

.container_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*  additional information  */

.additional-information{
    margin: 0 125px;
}

.additional-information>.text-content{
    margin-bottom: 50px;
}
.ad-info-title{
    font-size: 36px;
    font-weight: 700;

    margin: 30px 0;
}

.ad-info-title>abbr{
    color: #1f87e4;
}

.title-service{
    font-size: 21px;
    font-weight: 700;
    margin: 20px 0;

    text-align: center;
}

.info-container{

    margin: 55px 0;
}

.info-content-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 350px;
    height: 400px; 

    padding: 60px 40px;
    
    background: #edeff2;
}

.container-info>p{
    text-align: center;
}

/*-----------------------------------------------*/


